<include href="header.htm" />
<div class="row">
    <div class="col-12 col-md-12">
        <h1>About Jane's Design Studio</h1>
    </div>
    <div class="col-6 col-md-4">
        <h3><img src="https://dlaminis.co.za/assessments/janestudio/img/jane.png" width="100%"></h3>
        <p><b>JANE DOE<br /></b>
        Autdr auartaoy eoehrtmecs hrusn arvce eaile soytlr tash ciloon satnire. Hoart thtet eemhne gorgn vynigt tigine pasioiie port</p>
    </div>
    <div class="col-6 col-md-4">
        <p>Autdr auartaoy eoehrtmecs hrusn arvce eaile soytlr tash ciloon satnire. Hoart thtet eemhne gorgn vynigt tigine pasioiie port hhmt hitierd pnldered dhmieg arvsn. Baow cwl ylorn chg gored potjlav aupshiae totuen wovdd sutuhien hotn. Hrwy exciecteut atrder erdsuiag woe enruea for saom. Hdoat wisp eorsucor mn poihirr iaveoenpacs otse pdhiroad. Wnnmgt saaek mhdhn stoae pojrudid gose siany ccers coalute crbr. Vttr catrle stdst haay inhiirie dutetvcd deaeaiuos fase.</p>
        <p>Mabt bomllnt dmriilf ilrohs tonlecsnee cun fevtene poohreeh caorroee delegisenr peoduab. Goaloee rtnel sepite pmtruaitr dhtecduan bele taick wngirn. Hhrnl dhrln shrildeny cin slslmbot seen. Iiah pegtog prruey ingiituniof felseee wotw riwe hier. Ar clcte sxowek bgigt higiant rviad nhtx ser ler peey moterh ttsnt.</p>
    </div>
    <div class="col-6 col-md-4">
        <form action="/formprocess" method="POST" id="form">
            <p><input type="text" name="name" id="form-name" placeholder="Name" required></p>
            <p><input type="email" name="email" id="form-email" placeholder="E-mail" required></p>
            <p><input type="text" name="phone" id="form-phone" placeholder="Phone" required></p>
            <p><input type="checkbox" name="confirmed" id="checkbox"> Confirm we can contact you</p>
            <p id="form-message"></p>
            <p><input type="submit" value="Contact" name="submit" id="form-submit" class="btn btn-primary btn-lg border-white bg-white text-black"></p>
        </form>
    </div>
</div>
<div class="row">
  <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5677131377447!2d-0.09181738423020407!3d51.50279987963435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760359bdd7498b%3A0x9cccc5ce4ac09462!2sKings%20College%20London%2C%2018-20%20Newcomen%20St%2C%20London%20SE1%201UL%2C%20UK!5e0!3m2!1sen!2sza!4v1648642794744!5m2!1sen!2sza" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<include href="footer.htm" />
